body {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  color: #252b42;
  font-size: 14px;
  background-color: #F3F3F3;
}

a {
  text-decoration: none;
  color: inherit;
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper {
  min-height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1046px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__contact-phone {
  font-weight: 500;
  font-size: 18px;
  color: inherit;
  display: flex;
  align-items: start;
}

.header__contact-phone span {
  margin-left: 5px;
}

@media (max-width: 576px) {
  .header__contact-phone span {
    display: none;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 104px;
}
.header__logo {
  font-size: 24px;
  color: inherit;
  font-weight: 700;
}
.menu {
}
.header__menu {
  margin-left: 133px;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
}
.menu__item:not(:last-child) {
  margin-right: 21px;
}
.menu__link {
  line-height: calc(24 / 14 * 100%);
  color: #737373;
  font-weight: 600;
  transition: color 100ms ease;
}

@media (min-width: 992px) {
  .menu__link:hover {
    color: #262c3d;
  }
}

.page {
  flex: 1 1 auto;
}
.main-block {
  position: relative;
  background-color: #EBEBEB;
}
.main-block__container {
}

.main-block__content > *:not(:last-child) {
  margin-bottom: 20px;
}
.main-block__content {
  position: relative;
  z-index: 2;
  padding: 184px 0 191px 0;
}
.main-block__content-title {
  font-size: 64px;
  font-weight: 800;
  color: #0d0d0d;
  line-height: calc(68 / 64 * 100%);
  letter-spacing: 0.2px;
  max-width: 900px;
}

.main-block__content-subtitle {
  font-size: 16px;
  font-weight: 500;
  color: #737373;
  line-height: calc(20 / 16 * 100%);
  max-width: 500px;
}

.main-block__content-buttons {
  display: flex;
  flex-wrap: wrap;
  margin: -10px 0;
}
.main-block__content-button {
  font-weight: 700;
  line-height: calc(28 / 14 * 100%);
  letter-spacing: 0.2px;
  text-align: center;
  padding: 0 36px;
  min-height: 48px;
  border-radius: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.main-block__content-button_orange {
  background-color: #ff7b47;
  color: #fff;
  transition: background-color 150ms ease-in-out;
}

.main-block__content-button_border {
  border: 1px solid #0d5c63;
  color: #0d5c63;
  transition: all 150ms ease-in-out;
}

@media (min-width: 992px) {
  .main-block__content-button_orange:hover {
    background-color: #cf6338;
  }

  .main-block__content-button_border:hover {
    background-color: #0d5c63;
    color: #FFFFFF;
  } 
}

.main-block__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .4;
}

.page__services {
  margin-top: -111px;
  position: relative;
  z-index: 2;
}
.services {
}
.services__container {
}
.services__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px -30px;
}
.services__column {
  padding: 0 15px 30px;
  flex: 0 1 33.333%;
}
.services__item {
  border-radius: 4px;
  height: 100%;
  padding: 35px 40px;
  background: #ffffff;
  box-shadow: 0px 57px 34px rgba(0, 9, 46, 0.01), 0px 26px 26px rgba(0, 9, 46, 0.01), 0px 6px 14px rgba(0, 9, 46, 0.01), 0px 0px 0px rgba(0, 9, 46, 0.01);
}
.item-service > *:not(:last-child) {
  margin-bottom: 10px;
}
.item-service__icon {
  font-size: 64px;

}
.item-service__title {
  font-size: 24px;
  font-weight: 700;
  line-height: calc(32 / 24 * 100%);
  letter-spacing: 0.1px;
}
@media (max-width: 576px) {
  .item-service__title {
    font-size: 20px;
  }
}
.item-service__subtitle {
  font-size: 14px;
  font-weight: 500;
  color: #737373;
  line-height: calc(20 / 14 * 100%);
  letter-spacing: 0.2px;
}

.item-service_green {
  background-color: #0D5C63;
}

.item-service_green .item-service__title {
  color: #fff;
}
.item-service_green .item-service__subtitle {
  color: #fff;
}

.page__achievements {
}
.achievements {
  padding: 80px 0;
}
.achievements__container {
}
.achievements__header {
  margin: 0px 0px 50px 0px;
}
.achievements__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px -30px
}
.achievements__column {
  padding: 0 15px;
  margin: 0px 0px 30px 0px;
  flex: 0 1 33.3333%;
}
.achievements__item {
  background-color: #fff;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  height: 100%;
  text-align: center;
}

.achievements__item > *:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.achievements__icon {
  height: 36px;
  display: flex;
  align-items: center;
}
.achievements__value {
  font-size: 40px;
  line-height: calc(57 / 40 * 100%);
  color: #252B42;
  letter-spacing: 0.2px;
}
.achievements__text {
  font-size: 16px;
  line-height: calc(24 / 16 * 100%);
  color: #737373;
  letter-spacing: 0.2px;
  font-weight: 400;
}

.page__advice {
}
.advice {
  padding: 0px 0 80px;
}
.advice__container {
}
.advice__header {
  margin: 0px 0px 45px 0px;
}
.advice__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px -30px;
}
.advice__column {
  padding: 0 10px;
  margin: 0 0 30px 0;
  flex: 0 1 25%;
}
.advice__content {
  padding: 30px;
  flex: 1 1 auto;
}
.advice__item {
  background-color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.advice__link {
  display: inline-block;
}
.advice__link:not(:last-child) {
  margin: 0px 0px 15px 0px
}
.advice__title {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(24 / 16 * 100%);
  color: #252B42;
  letter-spacing: 0.1px;
}
.advice__desc {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(20 / 14 * 100%);
  color: #737373;
}
.advice__image {
  display: block;
  padding: 0px 0px 60% 0px;
}


.page__whoweare {
}
.whoweare {
  padding: 100px 0px 136px 0px;
  background-color: #fff;
}
.whoweare__container {
}
.whoweare__header {
  margin: 0px 0px 100px 0px;
}
.whoweare__body {
  display: flex;
}

.risk__body {
  flex-direction: row-reverse;
}

.risk__text {
  max-width: 700px;
}

.risk__title:not(:last-child) {
  margin: 0px 0px 20px 0px!important;
}

.risk__content {
  padding: 0!important;
}

.whoweare__image {
  position: relative;
  flex: 0 0 57.36%;
  padding: 0px 0px 42.25% 0px;
  border-radius: 4px;
  overflow: hidden;
}
.whoweare__content {
  flex: 1 1 auto;
  padding: 20px 0px 0px 50px;
}
.whoweare__top:not(:last-child) {
  margin: 0px 0px 50px 0px;
}
.whoweare__title {
  font-size: 40px;
  line-height: calc(48 / 40 * 100%);
  font-weight: 700;
  letter-spacing: 0.2px;
  color: inherit;
}
.whoweare__title:not(:last-child) {
  margin: 0px 0px 10px 0px
}
.whoweare__text {
  font-size: 14px;
  line-height: calc(20 / 14 * 100%);
  font-weight: 500;
  color: #737373;
}
.whoweare__items > *:not(:last-child) {
  margin: 0px 0px 30px 0px;
}
.whoweare__item {
}
.item-whoweare {
  display: flex;
}
.item-whoweare__icon {
  flex: 0 0 32px
}
.item-whoweare__content {
  flex: 1 1 auto;
  padding: 0px 0px 0px 20px;
}
.item-whoweare__title {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(24 / 16 * 100%);
  color: inherit;
  letter-spacing: 0.1px;
}
.item-whoweare__title:not(:last-child) {
  margin: 0px 0px 5px 0px;
}
.item-whoweare__text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14 * 100%);
  color: #737373;
  letter-spacing: 0.2px;
}


.page__clients {
  margin-bottom: 20px;
}
.clients {
  padding: 50px 0;
}
.clients__container {
}
.clients__items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.clients__item {
  padding: 8px 15px;
  flex: 0 1 16.6667%;
  text-align: center;
  min-width: 140px;
}
.clients__item img {
  display: inline;
}


.page__subscribe {
}
.subscribe {
  position: relative;
  padding: 0px 0px 20px 0px;
}
.subscribe::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 77px;
  background: #252B42;
}
.subscribe__container {
}
.subscribe__body {
  display: flex;
  justify-content: space-between;
  padding: 30px 50px;
  background: #17213C;
  border-radius: 2px;
  position: relative;
  z-index: 2;
}
.subscribe__title {
  flex: 0 1 50%;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(32 / 24 * 100%);
  color: #fff;
  letter-spacing: 0.1px;
}
.subscribe__form {
  flex: 0 1 50%;
  display: flex;
}
.subscribe__input {
  width: 100%;
  flex: 1 1 auto;
  padding: 0 20px;
  background-color: #F9F9F9;
  border: 1px solid #E6E6E6;
  border-radius: 5px 0 0 5px;
  color: #737373;
}
.subscribe__input:focus {
  color: #000;
}
.subscribe__button {
  cursor: pointer;
  background: #FF7B47;
  border: 1px solid #E6E6E6;
  border-radius: 0px 5px 5px 0px;
  color: #fff;
  min-height: 58px;
  padding: 0 22.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.page__getintouch {
}
.getintouch {
  padding: 80px 0 58px;
}
.getintouch__container {
}
.advice__header {
}
.getintouch__body {
  padding: 80px 0;
}
.getintouch__cards {
  padding: 0 32px;
}
.getintouch__card {
  flex: 0 1 33.333%;
  text-align: center;
}
.card-getintouch_dark.card-getintouch {
  padding: 80px 40px;
  background-color: #252B42;
}
.card-getintouch {
  padding: 50px 40px;
  background-color: #fff;
}
.card-getintouch > *:not(:last-child) {
  margin: 0px 0px 15px 0px;
}
.card-getintouch__icon {
}
.card-getintouch__icon img {
  display: inline;
}
.card-getintouch__addresses {
}
.card-getintouch_dark .card-getintouch__address {
  color: #fff;
}
.card-getintouch__address {
  font-weight: 600;
  font-size: 14px;
  line-height: calc(24 / 14 * 100%);
  letter-spacing: 0.2px;
  color: inherit;
}
.card-getintouch_dark .card-getintouch__title {
  color: #fff;
}
.card-getintouch__title {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(24 / 16 * 100%);
  letter-spacing: 0.1px;
  color: inherit;
}
.card-getintouch_dark .card-getintouch__submit {
  color: #fff;
  border: 1px solid #fff;
}
.card-getintouch__submit {
  cursor: pointer;
  min-height: 44px;
  padding: 0 20px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: calc(24 / 14 * 100%);
  letter-spacing: 0.2px;
  color: #FF7B47;
  border: 1px solid #FF7B47;
  border-radius: 5px;
  background: transparent;
}


.page__contact {
}
.contact {
  background: #fafafa;
  padding: 40px 0;
}
.contact__container {
}
.contact__content {
}
.contact__text {
  
}
.contact__title {
  font-weight: 700;
  color: inherit;
  font-size: 24px;
  line-height: calc(32 / 24 * 100%);
  letter-spacing: 0.1px;
}
.contact__title:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.contact__subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(20 / 14 * 100%);
  color: #737373;
  letter-spacing: 0.2px;
}
.contact__button {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(28 / 14 * 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 58px;
  padding: 0 40px;
  background: #FF7B47;
  border-radius: 5px;
  transition: all 200ms ease;
  margin: 0px 38px 0px 0px;
}
.contact__button:hover {
  background: transparent;
  color: #FF7B47;
  border: 1px solid #FF7B47;
}

.footer {
}
.footer__top {
  background-color: #17213C;
  padding: 35px 0;
  color: #ffffff;
}

.footer__title {
  font-size: 32px;
}

@media (max-width: 1200px) {
  .footer__title {
    margin-bottom: 20px;
  }
}

@media (min-width: 1200px) {
  .footer__top {
    display: flex;
    align-items: start;
  }

  .footer__title {
    flex: 0 1 50%;
  }
  .footer__info {
    flex: 0 1 50%;
  }
}

.footer__info-title {
  font-weight: 400;
  font-size: 20px;
  line-height: calc(28 / 20 * 100%);
  max-width: 740px;
  margin: 0px 0px 40px 0px;
  text-transform: uppercase;
}

@media (max-width: 576px) {
  .footer__info-title {
    font-size: 16px;
  }
}

.footer__info-list {
  max-width: 700px;
  padding: 0;
  list-style: none;
}

.footer__info-list>*:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.footer__title-text {
  text-transform: uppercase;
  margin: 0px 0px 20px 0px;
}

.footer__bottom {
  margin: 50px 0px 0px 0px;
}

.footer__data {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  margin: 0px -10px -60px;
}

.footer__data-item {
  max-width: 260px;
}

.footer__column {
  flex: 0 1 25%;
  padding: 0px 10px 60px 10px;
}

@media (max-width: 992px) {
  .footer__column {
    flex: 0 1 33.3333%;
  }
}

@media (max-width: 767px) {
  .footer__column {
    flex: 0 1 50%;
  }
}

@media (max-width: 576px) {
  .footer__column {
    flex: 0 1 100%;
  }
}


.item-info {
  border-bottom: 1px solid #ffffff;
  padding: 0px 0px 10px 0px;
}

@media (min-width: 576px) {
  .item-info {
    display: flex;
    justify-content: space-between;
  }
}

.item-info__text {
  max-width: 420px;
  margin: 0px 20px 0px 0px;
}

@media (max-width: 576px) {
  .item-info__text {
    margin: 0px 0px 10px 0px;
  }
}

.item-info__date {
  white-space: nowrap;
}

.item-data {
  display: flex;
  flex-direction: column;
}

.item-data__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 112.5%;
  margin: 0px 0px 20px 0px;
  text-transform: uppercase;
}

.item-data__text {
  font-size: 16px;
  line-height: 125%;
}

.item-data__text:hover {
  color: #ffffff;
}

/* ------MAIN-BLOCKS--------------- */

.header-block {
  text-align: center;
}
.header-block__title {
  font-weight: 700;
  font-size: 40px;
  line-height: calc(57 / 40 * 100%);
}
.header-block__title:not(:last-child) {
  margin: 0px 0px 10px 0px
}
.header-block__subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(20 / 14 * 100%);
  color: #737373;
}



/* MORE PAGE ======================================== */


/* .page-more {
  margin-top: 105px;
  margin-bottom: 48px;
}

.page-more > *:not(:last-child) {
  margin: 0px 0px 40px 0px;
}

.more-title {
  font-size: 48px;
  text-transform: uppercase;
}

.more-text {
  max-width: 700px;
}

.more-about-company {

}

.more-about-company__title {
  margin: 0px 0px 10px 0px;
}

.more-about-company__desc {
  
}

.more-investors__title {
  margin: 0px 0px 10px 0px;
  font-size: 32px;
  max-width: 600px;
} */